<g4s-form-element label="LwpSetting.TelephoneAlarmActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.telephoneAlarmActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.PhoneNumbersForTelephoneAlarm">
    <input type="text"
           placeholder="{{'LwpSetting.PhoneNumbersForTelephoneAlarm' | translate}}"
           ng-model="ngModel.phoneNumbersForTelephoneAlarm"
           class="form-control">
</g4s-form-element>

<g4s-form-element label="LwpSetting.PanicButtonActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.panicButtonActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.MovementDetectionActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.movementDetectionActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.TimeBeforeMovementAlarmInSeconds">
    <input type="number"
           placeholder="{{'LwpSetting.TimeBeforeMovementAlarmInSeconds' | translate}}"
           ng-model="ngModel.timeBeforeMovementAlarmInSeconds"
           class="form-control">
</g4s-form-element>

<g4s-form-element label="LwpSetting.ManDownAlarmActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.manDownAlarmActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.AngleOfManDownDetection">
    <input type="number"
           placeholder="{{'LwpSetting.AngleOfManDownDetection' | translate}}"
           ng-model="ngModel.angleOfManDownDetection"
           class="form-control">
</g4s-form-element>

<g4s-form-element label="LwpSetting.TimeBeforeManDownAlarmInSeconds">
    <input type="number"
           placeholder="{{'LwpSetting.TimeBeforeManDownAlarmInSeconds' | translate}}"
           ng-model="ngModel.timeBeforeManDownAlarmInSeconds"
           class="form-control">
</g4s-form-element>

<g4s-form-element label="LwpSetting.SchockAlarmActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.schockAlarmActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.FallAlarmActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.fallAlarmActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.TimerAlarmActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.timerAlarmActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.TimeBeforeTimerAlarmInSeconds">
    <input type="number"
           placeholder="{{'LwpSetting.TimeBeforeTimerAlarmInSeconds' | translate}}"
           ng-model="ngModel.timeBeforeTimerAlarmInSeconds"
           class="form-control">
</g4s-form-element>

<g4s-form-element label="LwpSetting.SendAlarmToExternalAlarmReciverActivated">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.sendAlarmToExternalAlarmReciverActivated"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>

<g4s-form-element label="LwpSetting.UniqueIdentifierToSendToExternalAlarmReciever">
    <input type="number"
           placeholder="{{'LwpSetting.UniqueIdentifierToSendToExternalAlarmReciever' | translate}}"
           ng-model="ngModel.uniqueIdentifierToSendToExternalAlarmReciever"
           class="form-control">
</g4s-form-element>

<g4s-form-element label="LwpSetting.ExitGeofenceAreaWhenUserSignsOff">
    <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="ngModel.exitGeofenceAreaWhenUserSignsOff"
               class="form-control">&nbsp;
    </label>
</g4s-form-element>