<div class="row no-side-nav">
    <div class="account-col text-center">
        <h1>{{'Login.Title' | translate}}</h1>
        <h3>{{'Login.SubTitle' | translate}}</h3>
        <form class="m-t" role="form" ng-submit="ctrl.login()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'Login.Username' | translate}}" required ng-model="ctrl.user.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="{{'Login.Password' | translate}}" required ng-model="ctrl.user.password">
            </div>
            <button type="submit" class="btn btn-primary btn-block ">{{'Login.BtnLogin' | translate}}</button>

            <br />
            <p>Peter Vervoort - Sven Noreillie &copy; 2017</p>
        </form>
    </div>
</div>
