<g4s-page-top-bar title="StateChanges"></g4s-page-top-bar>

<g4s-detail-form ng-model="ctrl.stateChange"
                 definition="ctrl.definition"
                 delete-resource="{{resources.stateChanges}}"
                 delete-role="{{roles.deviceStatesFlowDelete}}"
                 edit-state="{{states.stateChangeEdit}}"
                 return-state="{{states.stateChangeList}}">
    <actions>
        <a class="btn btn-default" ng-click="ctrl.addRoleGroup()">{{'UserRoleGroups.AddRoleGroup' | translate}}</a>
    </actions>
</g4s-detail-form>

<g4s-panel title="StateChange.SelectedUserRoleGroups">
    <g4s-table headers="ctrl.selectedGroupsTable.headers"
               actions="ctrl.selectedGroupsTable.actions"
               search-criteria="ctrl.selectedGroupsTable.searchCriteria"
               resource="resources.userRoleGroups"
               pagination>
    </g4s-table>
</g4s-panel>